* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  .header-container {
    color: #5995DA;
    background-color: #D6E9FE;
    display: flex;
    justify-content: center;
  }

  .header {
    /* border: 1px solid #FF2; For debugging */
    width: 900px;
    height: 300px;
    display: flex;
    justify-content: space-between; /* horizontal */
    align-items: center;  /* Add this */ /* vertical */ /* center, fles-start, fles-end, stretch, baseline */
  }
  .social,
.logo,
.subscribe {
  /* border: 1px solid #5995DA; */
}
.social,
.subscribe {
  align-self: flex-end;
  margin-bottom: 20px;
}
.copyright{
    display: flex;
    justify-content: center; 
    align-self: center;
    margin-bottom: 120px;
}
  .menu-container {
    /* border: 1px solid red;  For debugging */
    color: #fff;
    background-color: #5995DA;  /* Blue */
    padding: 20px 0;
    display: flex;
    justify-content: center;    /* Add this */    
    /* center,    flex-start,    flex-end,    space-around,    space-between */

  }
  
  .menu {
    /* border: 1px solid #fff;  For debugging */
    width: 900px;
    display: flex;
    justify-content: space-between;
  }
  .links {
    /* border: 1px solid #fff;  For debugging */
    display: flex;
    justify-content: flex-end;
  }
  
  .login {
    margin-left: 20px;
  }
  .signup {
    margin-left: auto;
  }
  .photo-grid-container {
    display: flex;
    justify-content: center;
  }
  
  .photo-grid {
    width: 900px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction:  row;  /* Update this */
    align-items: center;
    /* flex-direction: row-reverse; */
      /* <--- Really freaking cool! */  /* flex-direction: column; */
  
  }
  
  .photo-grid-item {
    /* border: 1px solid red; */
    width: 300px;
    height: 300px;
   
  }
  
.first-item {
    order: 0;
  }
  
  .last-item {
    order: -0;
  }
  .footer {
    display: flex;
    justify-content: space-between;
  }
  
  .footer-item {
    /* border: 1px solid #fff; */
    background-color: #D6E9FE;
    height: 200px;
    flex: 1;
  }
  .footer-three {
    flex: 2;
  }
  .footer-one,
.footer-three {
  background-color: #5995DA;
  flex: initial;
  width: 300px;
}